<!DOCTYPE html>
<html>
	<head>
		<title>PharmaApp</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">	
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body class="manufacturer_wrapper">
			<div ng-app="myApp" ng-controller="myCtrl">
			<div class="alert alert-danger" ng-show="failuier">
								No order with specified ID 
							  </div>
					<div class="right_content_block col-md-9">
						<form>
							
                                    <h2><b> Search Order </b></h2>
							<span class="fields_design col-md-6">
								<label>Order Id</label>
								<input id="barcode"type="text"ng-model="uuid" required>
							</span>
							<div class="clearfix"></div>
							<span class="fields_design col-md-6">
							<div class="component">
                                    <div  ng-show="show" >
                                            <div class="col s12" >
                                            <div style= "padding: 2%;""text-align: center;">
                                            <table id="myTable"BORDER=1 BORDERCOLOR="#8fb2b9"style="height:100px; width: 100%">
                                            <thead style="background-color:white;"><tr>
                                            <th ><label> Order Id </label></th>
                                            <th><label> Quantity </label></th>
                                            <th ><label> Temperature </label></th>
                                            <th><label> Moisture</label></th>
                                            <th><label> Shake</label></th>
                                            <th><label> Shipment Status</label></th>
                                            <th><label> Order Status</label></th>
                                            <th><label> FDA Status of Drug</label></th>
                                            </tr>
                                            </thead>
                                            <tbody style="background-color:#b3c8cb;">
                                            <tr>
                                                        <td>{{din}}</td>
                                                        <td>{{quantity}}</td>
                                                        <td>{{temperature}}</td>
                                                        <td>{{moisture}}</td>
                                                        <td>{{shake}}</td>
                                                        <td>{{orderStatus}}</td>
                                                        <td>{{drugStatus}}</td>
                                                        <td>{{fda}}</td>
                                            </tr>
                                            </tbody>
                                            </table>
                                            </div>
                                            </div>
                                            </div>
                                        </span>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="submit_block">
								<input type="button" value="Submit" class="submit_btn_cmn"ng-click="search()"/>
                            </div>
                           
						</form>
					</div>
				
	</div>
	<script>
var app = angular.module('myApp', []);
 
 app.controller('myCtrl',['$scope','$http','$timeout',function ($scope,$http,$timeout) {
$scope.din=" "
$scope.temperature=" "
$scope.moisture=" "
$scope.failuier=false
$scope.shake=" "
$scope.quantity=" "
$scope.drugStatus=" "
$scope.show=false;
function Request() {
return {
"Request" : {
    "$class": "org.acme.pharma_network.searchOrder",
 "orderId": ""
}
}
};
function init(){
var websocket =new WebSocket("ws://pharma-network-updated-new-1.mybluemix.net");
websocket.addEventListener('open',evt =>doSocketOpen(evt));
websocket.addEventListener('message',evt =>doSocketMessage(evt));
websocket.addEventListener('close',evt =>doSocketClose(evt));
}
function doSocketClose(evt) {
console.log('Close.');
}
function doSocketMessage(evt) {
let data =JSON.parse(evt.data);
$scope.show=true;
$scope.show=true;
$scope.din=data.orderId
$scope.fda=data.fda
$scope.orderStatus=data.orderStatus
$scope.quantity=data.quantity
if(data.drugStatus=="WITHDRAWN")
$scope.drugStatus="REJECTED"
else
$scope.drugStatus=data.drugStatus
$scope.temperature=data.temperature
if ($scope.temperature >50) {
    document.getElementById("myTable").rows[1].cells[2].style.backgroundColor = "red"
     }
$scope.moisture=data.moisture
if ($scope.moisture >50) {
    document.getElementById("myTable").rows[1].cells[3].style.backgroundColor = "red"
     }
$scope.shake=data.shake
if ($scope.shake >50) {
    document.getElementById("myTable").rows[1].cells[4].style.backgroundColor = "red"
     }
}
function doSocketOpen(evt) {
console.log('Open.');
}
$scope.search=function(){
init();
var uuid =$scope.uuid;
var request={"$class": "org.acme.pharma_network.searchOrder",
 "orderId": uuid};
 var requestInfo = Request();
$http.post("http://pharma-network-updated-new-1.mybluemix.net/api/searchOrder",request).then((function(data,status,
headers,config) {
console.log("success");
}),(function(data,status,headers,config) {
$scope.failuier=true
}));
}
 }]);
	</script>
	</body>
</html>
