<!DOCTYPE html>
<html>
	<head>
		<title>PharmaApp</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">	
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<style>.noHover{
        pointer-events: none;
    }
   </style>
	</head>

	<body class="manufacturer_wrapper">
				<div ng-app="myApp" ng-controller="myCtrl">
                              <div class="alert alert-danger" ng-show="failuer">
                                No order with specified ID
                              </div>
					<div class="right_content_block col-md-9">
						<form>
							
                                    <h2><b> Historian Temperature </b></h2>
                            <span class="fields_design col-md-6">
                                    <label> Order Id</label>
                                    <input id="statusid" type="text" width="100px;"ng-model="uuid" required>
                                </span>
							<div class="clearfix"></div>
							<div class="submit_block">
								<input type="button" value="Submit" class="submit_btn_cmn"ng-click="search()"/>
                            </div>
                            <canvas id="myChart" class="noHover" style="height: 100px; width: 200px; padding:10px 10px;" ng-show='show'></canvas>
                           
						</form>
					</div>
	</div>
	<script>
var app = angular.module('myApp', []);
 
 app.controller('myCtrl',['$scope','$http','$timeout',function ($scope,$http,$timeout) {
    
$scope.data=[];
$scope.show=false;
$scope.failuer=false
function Request_search() {
 return {
 "Request" : {
 "$class":"org.acme.pharma_network.temperatureEvent",
 "orderId":""
 }
 }
 };
$scope.search=function(){
    init();
 var uuid =$scope.uuid; 
 var search_payload={"$class":"org.acme.pharma_network.temperatureEvent","orderId":uuid}; 
 var requestInfo =Request_search();
 $http.post("http://pharma-network-updated-new-1.mybluemix.net/api/temperatureEvent",search_payload).then((function(data,status,headers,config) {
 $scope.show=true;
 console.log("success");
 }),(function(data,status,headers,config) {
     $scope.failuer=true
 }));
 }

 function init(){
var websocket =new WebSocket("ws://pharma-network-updated-new-1.mybluemix.net");
websocket.addEventListener('open',evt =>doSocketOpen(evt));
websocket.addEventListener('message',evt =>doSocketMessage(evt));
websocket.addEventListener('close',evt =>doSocketClose(evt));
}
function doSocketOpen(evt) {
console.log('Open.');
}
function doSocketMessage(evt) {
$scope.data.push(JSON.parse(evt.data));
//console.log($scope.data)
chart();
}
function chart(){
    var len=$scope.data.length;
    $scope.temp=[]
    var dataString=[];
    var colur=[];
    var temperature=[];
    var shipmentStatus=[];
    var chart=[];
    var a={}; 
    var ctx='';
    $scope.time=[];
    $scope.newDate =[];
    $scope.data.sort(function(a, b){
    var dateA=new Date(a.timestamp_update), dateB=new Date(b.timestamp_update)
    return dateA-dateB //sort by date ascending
})
console.log($scope.data)

        
    for(var i=0;i<$scope.data.length;i++){
        
if($scope.data[i].temperature>50){
      colur.push("#ff0000");
}
      else{
     colur.push("rgb(50,205,50)");
      }
temperature.push($scope.data[i].temperature)  
shipmentStatus.push("("+$scope.data[i].orderStatus+","+"\t"+$scope.data[i].temperature+")")
      
        }
var ctx = document.getElementById('myChart').getContext('2d');
    console.log(ctx);
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: shipmentStatus,
        datasets: [{
            label: "My First dataset",
            backgroundColor:  colur,
            borderColor: 'rgb(255, 99, 132)',
            data: temperature,
        }]
    },
options: {}
    // Configuration options go here
    
});
    
    console.log(chart)
}
function doSocketClose(evt) {
    
console.log('Close.');
}
 }]);
	</script>
	</body>
</html>
